<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Suffix Tree</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='style.css') }}'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src='{{ url_for('static', filename='script.js') }}'></script>
</head>

<body>
	<h1>Suffix Tree - Borna Barahimi</h1>
	<button id="defaultOpen" class="tablink" onclick="openPage('Section1', this, 'red')">Section 1</button>
	<button class="tablink" onclick="openPage('Section2', this, 'green')" id="defaultOpen">Section 2</button>
	<button class="tablink" onclick="openPage('Section3', this, 'blue')">Section 3</button>
	<button class="tablink" onclick="openPage('Section4', this, 'orange')">Section 4</button>

	<div id="Section1" class="tabcontent">
		<div class='section'>
			<h2>Section 1</h2>
			<form action="/api/search-pattern" method="POST" id="form-section-one">
				<input class="input" type="file" name="strings_file" id="file-input-1">
				<textarea class="input" rows="20" cols="50" type="textarea" name="strings" id="strings-input"
					placeholder="string... (split strings with '>')"></textarea>
				<input class="input" type="text" name="pattern" id="pattern-input" placeholder="pattern...">
				<input type="submit" value="Submit" class="btn">
			</form>
			<textarea disabled id="section1-network" class="network"></textarea>
			<div id="section1-result" class="result"></div>
		</div>
	</div>

	<div id="Section2" class="tabcontent">
		<div class='section'>
			<h2>Section 2</h2>
			<form action="/api/lrs" method="POST" id="form-section-two">
				<input class="input" type="file" name="strings_file" id="file-input-2">
				<textarea class="input" rows="20" cols="50" type="textarea" name="strings" id="strings-input"
					placeholder="string... (split strings with '>')"></textarea>
				<input class="input" type="number" name="k" id="k-input" placeholder="k">
				<input type="submit" value="Submit" class="btn">
			</form>
			<textarea  id="section2-network" class="network"></textarea>
			<div id="section2-result" class="result"></div>
		</div>
	</div>

	<div id="Section3" class="tabcontent">
		<div class='section'>
			<h2>Section 3</h2>
			<form action="/api/lrs" method="POST" id="form-section-three">
				<input class="input" type="file" name="strings_file" id="file-input-3">
				<textarea class="input" rows="20" cols="50" type="textarea" name="strings" id="strings-input"
					placeholder="string... (split strings with '>')"></textarea>
				<input class="input" type="number" name="k" id="k-input" placeholder="k">
				<input type="submit" value="Submit" class="btn">
			</form>
			<textarea disabled id="section3-network" class="network"></textarea>
			<div id="section3-result" class="result"></div>
		</div>
	</div>

	<div id="Section4" class="tabcontent">
		<div class='section'>
			<h2>Section 4</h2>
			<form action="/api/lps" method="POST" id="form-section-four">
				<input class="input" type="file" name="strings_file" id="file-input-4">
				<textarea class="input" rows="20" cols="50" type="textarea" name="strings" id="strings-input"
					placeholder="string... (split strings with '>')"></textarea>
				<input type="submit" value="Submit" class="btn">
			</form>
			<textarea disabled id="section4-network" class="network"></textarea>
			<div id="section4-result" class="result"></div>
		</div>
	</div>
</body>

</html>