<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Suffix Tree</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='style.css') }}'>
	<script type="text/javascript" src='{{ url_for('static', filename='script.js') }}'></script>
</head>

<body>
	<h1>Suffix Tree - Borna Barahimi</h1>
	<button class="tablink" onclick="openPage('Section1', this, 'red')">Section 1</button>
	<button class="tablink" onclick="openPage('Section2', this, 'green')" id="defaultOpen">Section 2</button>
	<button class="tablink" onclick="openPage('Section3', this, 'blue')">Section 3</button>
	<button class="tablink" onclick="openPage('Section4', this, 'orange')">Section 4</button>

	<div id="Section1" class="tabcontent">
		<h2>Section 1</h2>
		<textarea class="input" rows="4" cols="50" type="textarea" name="strings" id="strings-input"
			placeholder="string... (split strings with '>')"></textarea>
		<input class="input"  type="text" name="pattern" id="pattern-input" placeholder="pattern...">
	</div>

	<div id="Section2" class="tabcontent">
		<h3>News</h3>
		<p>Some news this fine day!</p>
	</div>

	<div id="Section3" class="tabcontent">
		<h3>Contact</h3>
		<p>Get in touch, or swing by for a cup of coffee.</p>
	</div>

	<div id="Section4" class="tabcontent">
		<h3>About</h3>
		<p>Who we are and what we do.</p>
	</div>
</body>

</html>